<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#login-window-trigger').click(function() {
				$('#login-window').fadeIn();
			});
			$('#login-window-close').click(function() {
				$('#login-window').fadeOut();
			});
		});
	</script>
</head>
<body>
	<header id="header">
		<h1 id="project-title">Sengami</h1>
	</header>
	<div id="banner">
		<div id="menu">
			<button class="button medium macha">Présentation #1</button>
			<button class="button medium macha">Présentation #2</button>
			<button class="button medium macha">Présentation #3</button>
			<button class="button medium macha">Présentation #4</button>
			<button id="login-window-trigger" class="button cafe" style="width: 152px;margin-right: 0px;">Connexion</button>
		</div>
	</div>
	<div id="content">
		
	</div>
	<div id="login-window" class="window medium mint">
		<header><h3>Connexion</h3></header>
		<div class="content">
			<p>Formulaire de connexion.<br />Veuillez entrer vos informations pour acc&eacute;der &agrave; Sengami</p>
			<div class="input-box">
				<label for="login-mail">email:</label>
				<input type="text" id="login-mail" placeholder="adresse email" />
			</div>
			<div class="input-box">
				<label for="login-password">mot de passe:</label>
				<input type="text" id="login-password" placeholder="mot de passe" />
			</div>
			<div class="right" style="margin-top: 18px;">
				<button id="login-window-close" class="button medium macha">
					Fermer
				</button>
				<button class="button medium cafe">
					Se Connecter
				</button>
			</div>
		</div>
	</div>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-12924369-12', 'sengami.com');
	ga('send', 'pageview');
	</script>
</body>
</html>