<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<header id="header">
		<h1 id="project-title">Sengami</h1>
	</header>
</body>
</html>