@choco: #5E3929;
@latte: #CD8C52;
@macha: #B7D1A3;
@pistache: #DEE8BE;
@paper: #FCF7D3;

@white: #FFFFFF;
@black: #000000;

@leef: darken(@macha, 16%);
@sand: darken(@paper, 6%);
@macchiato: lighten(@latte, 8%);

@dark-macha: darken(@macha, 50%);