@plum: #7E5686;
@lavande: #A5AAD9;
@lime: #E8F9A2;
@mango: #F8A13F;
@cherry: #BA3C3D;


@white: #ffffff;
@black: #000000;

@lavande-light: lighten(@lavande, 12%);
@lavande-white: lighten(@lavande, 24%);