header#header {
	position: absolute;
	top: 0px; left: 0px; right: 0px;
	width: 100%; height: 28px;
	background-color: @choco;
	#project-title {
		font: 18px "Helvetica Neue UltraLight","Helvetica Neue" Helvetica, Arial, sans-serif;
		font-weight: lighter; margin: 3px 20px; color: @dolce;
	}
}