@import "color.less";
@import "form.less";
@import "window.less";
@import "header.less";
@import "banner.less";
@import "content.less";

@header-height: 28px;
@banner-height: 200px;

body {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	width: 100%; height: 100%;
	margin: 0px; padding: 0px;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: @paper;
	
}