.macha-leef {
  background-color: #b7d1a3;
  color: #384e27;
  border-color: #384e27;
}
.input-box {
  margin: 20px 0px;
}
.input-box label {
  display: inline-block;
  width: 100%;
  margin-bottom: 4px;
  padding-left: 4px;
  text-transform: capitalize;
}
.input-box input {
  display: inline-block;
  -webkit-appearance: none;
  width: 100%;
  height: 16px;
  padding: 16px 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0px;
}
button.button {
  -webkit-appearance: none;
  border: none;
  height: 28px;
  cursor: pointer;
}
button.button.macha {
  background-color: #b7d1a3;
  color: #384e27;
  border-color: #384e27;
}
button.button.cafe {
  background-color: #cd8c52;
  color: #fcf7d3;
}
button.button:hover {
  box-shadow: 0px 0px 1px #5e3929;
}
button.button.medium {
  width: 120px;
}
.window {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
.window > header {
  width: 100%;
  height: 28px;
  margin: 0px;
  padding: 0px;
}
.window > header h3 {
  margin: 0px 20px;
  padding: 4px 0px;
  font-size: 16px;
  font-weight: lighter;
}
.window > .content {
  padding: 20px;
}
.window.medium {
  width: 400px;
  height: 320px;
  margin-left: -200px;
  margin-top: -160px;
}
.window.mint {
  background-color: #f1f5e4;
  border-width: 2px 2px 2px;
  border-color: #b7d1a3;
  border-style: solid;
  box-shadow: 1px 1px 2px #dee8be;
  color: ;
}
.window.mint > header {
  background-color: #b7d1a3;
  color: #384e27;
  border-color: #384e27;
}
.window .right {
  float: right;
}
header#header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 28px;
  background-color: #5e3929;
  box-shadow: 0px 1px 2px #cd8c52;
  z-index: 10000;
}
header#header #project-title {
  font: 18px "Helvetica Neue UltraLight", "Helvetica Neue" Helvetica, Arial, sans-serif;
  font-weight: lighter;
  margin: 3px 20px;
  color: #e4c1a1;
}
#banner {
  position: absolute;
  top: 28px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 200px;
  background-color: #dee8be;
  background-image: url('/images/banner.png');
  z-index: 5000;
}
#banner #menu {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 640px;
  height: 28px;
  padding: 4px 4px 0px;
  margin-left: -324px;
  background-color: #dee8be;
}
#banner #menu .button {
  margin-right: 2px;
  float: left;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fcf7d3;
}
